@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Regular.woff') format('woff'),
        url('fonts/Raleway-Regular.ttf') format('ttf');
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-Bold.woff') format('woff'),
        url('fonts/Raleway-Bold.ttf') format('ttf');
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway-ExtraBold.woff') format('woff'),
        url('fonts/Raleway-ExtraBold.ttf') format('ttf');
    font-weight: 800;
    font-display: swap;
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

:root {
    --grid-columns: 24;
    --column-width: calc(100% / var(--grid-columns));
}

body {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    margin: 0;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    line-height: 1.45;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background-image: linear-gradient(90deg, #120073 -16.31%, #2c003c 99.55%);
}

.header {
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
}

.text-block__bg {
    --mask-image: radial-gradient(
        circle at calc(var(--x) * 1px) 50%,
        #000 0px,
        #000 20%,
        transparent 60%
    );
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    pointer-events: none;
    background: linear-gradient(
            to right,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px
        ),
        linear-gradient(
            to bottom,
            rgba(255, 255, 255, 0.1) 1px,
            transparent 1px
        );
    background-size: 80px 80px, 80px 80px;
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    contain: strict;
    will-change: -webkit-mask-image, mask-image;
}

h1 {
    text-transform: uppercase;
    font-size: 63px;
    font-weight: 900;
    line-height: 1.37;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    overflow: hidden;
    white-space: nowrap;
    border: 0;
    clip: rect(0 0 0 0);
}

/* .canvas {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  pointer-events: none;
} */

.content {
    flex: 1 1 auto;
    display: flex;
}

.aside {
    width: calc(var(--column-width) * 6);
}

.text {
    width: calc(var(--column-width) * 6);
    align-self: center;
}

.text-title {
    max-width: 18ch;
}

.text-description {
    margin-top: 40px;
    max-width: 535px;
    font-size: 22px;
}

.lightsource {
    width: 36px;
    height: 710px;
    position: absolute;
    top: 50%;
    transform: translate3d(calc(var(--x) * 1px), -50%, 0);
    left: 200px;
    will-change: transform;
    contain: layout;
    pointer-events: none;
}

.lightsource > span {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: 17px;
}

.lightsource > span::before,
.lightsource > span::after {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    height: 100%;
    border-radius: inherit;
}

.lightsource > span:nth-child(1) {
    /* main shape */
    background-color: #fff;
}

.lightsource > span:nth-child(1)::before {
    background-color: #e5faff;
    opacity: 0.34;
    filter: blur(81.5485px);
}

.lightsource > span:nth-child(1)::after {
    background-color: #fff;
    opacity: 0.73;
    filter: blur(5.43656px);
}

.lightsource > span:nth-child(2) {
    background: #b7d5ff;
    filter: blur(67.957px);
}

.lightsource > span:nth-child(2)::before {
    background-color: #d5f0ff;
    opacity: 0.73;
    filter: blur(65.2388px);
}

.lightsource > span:nth-child(2)::after {
    background-color: #98e5ff;
    opacity: 0.58;
    filter: blur(135.914px);
}

.lightsource > span:nth-child(3) {
    width: 243px;
    height: 640px;
    background-color: #dcc6ff;
    opacity: 0.11;
    filter: blur(135.914px);
}

.lightsource > span:nth-child(3)::after {
    width: 341px;
    height: 640px;
    background-color: #d9b0ff;
    opacity: 0.08;
    filter: blur(135.914px);
}

.blurred {
    --height: 2em;
    position: relative;
    display: inline-block;
    opacity: 0.95;
    color: #33c9f3;
    width: 280px;
    height: var(--height);
    line-height: var(--height);
    margin-top: calc(var(--height) / -4);
    margin-bottom: calc(var(--height) / -4);
    text-indent: 0.3em;
    margin-left: -0.3em;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

.blurred::before {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: inherit;
    transform: translate(-50%, -50%);
    opacity: 0.36;
    color: #33c9f3;
    filter: blur(11.3026px);
}

.blurred::after {
    content: attr(data-content);
    position: absolute;
    top: 50%;
    left: 50%;
    width: inherit;
    height: inherit;
    transform: translate(-50%, -50%);
    opacity: 0.72;
    filter: blur(11.3026px);
    color: #33f3f0;
}

.masked {
    --mask-image: radial-gradient(
        circle at calc(var(--x) * 1px) 50%,
        #000 0px,
        #000 200px,
        transparent 250px
    );
    -webkit-mask-image: var(--mask-image);
    mask-image: var(--mask-image);
    will-change: -webkit-mask-image, mask-image;
}

@media (max-width: 1440px) {
    .aside {
        width: calc(var(--column-width) * 8);
    }

    .text {
        width: calc(var(--column-width) * 8);
    }
}
